body{
    margin:0;
}
.title{
    font-size:7rem;
    color:white;
    text-shadow: 0 0 5px black;

}
.event-wrapper{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    padding: 2rem;
    object-fit: cover;
    background-color: beige;
    /* background-image: url(../img/plag.jpeg); */
    color: white;
}
.wrapper{
    height: 100vh;
    overflow-y:auto;
    overflow-x: hidden;
    perspective: 10px;
}
header{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;

}
.background{
    transform: translateZ(-10px) scale(2);
}


.foreground{
    transform: translateZ(-5px) scale(1.5);
}
.background,
.foreground{
    position: absolute;
    height: 100%;
    width:100%;
    object-fit: cover;
    z-index: -1;
}
.stars{
    position: absolute;
    height:50px;
    width:48px;
    z-index: 2;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center
}
.event-box{
    background-color: rgb(124, 180, 127);
    text-align: center;
    height: 300px;
    width: 300px;
    justify-content: center;
    box-shadow: 10px 10px black;
    word-wrap: break-word;
}
.event-info{
    text-align: center;
    color:white;
    font-size:32px;
    margin:0;
}
.event-link{
    position: relative;
    color: white;
    text-align: center;
    font-size:32px;
    margin:0;
    z-index: 1;
}
.event-link:hover{
    color:rgb(145, 189, 145);
}
.event-feature{
    text-align: center;
    color:rgb(255, 255, 255);
    font-size:14px;
    word-wrap: break-word;
    margin-bottom:5px;
}
.upcomming{
    color:black;
    text-align: center;
}
.links-box{
    background-color: rgb(224, 180, 180);
    box-shadow: 10px 10px;
    margin-bottom:50px;
}
.links-link{
    position: relative;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size:32px;
    margin:0;
    z-index: 1;

}
.links-link:hover{
    color:rgb(58, 58, 58);
}
.h1{
    margin:5px;
}